@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --color-primary: #000;
    --color-secondary: #FFAC00;
    --color-success: #85FF30;
    --color-info: #1d1b1d;
    --color-warning: #610000;
    --color-danger: #B50000;
    --color-white: #F2F2F2;


    

}

@font-face{ 
	font-family: 'StarWars';
	src: url('../fonts/galaxy.woff');
}

html, body {
    background-color: var(--color-primary);
    height: 100%;
    font-family: 'StarWars', 'Ubuntu', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    font-family: 'Ubuntu';
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.text-secondary {
  color: var(--color-secondary) !important;
}

.bg-success {
  background-color: var(--color-success) !important;
}

.text-success {
  color: var(--color-success) !important;
}

.bg-info {
  background-color: var(--color-info) !important;
}

.text-info {
  color: var(--color-info) !important;
}

.bg-warning {
  background-color: var(--color-warning) !important;
}

.text-warning {
  color: var(--color-warning) !important;
}


.bg-warning {
  background-color: var(--color-danger) !important;
}

.text-warning {
  color: var(--color-danger) !important;
}


